{% extends "admin/base.html" %}

{% block title %}Administration - Toutes les missions{% endblock %}

{% block admin %}
    <div x-data="modal">
        <div class="modal" x-cloak x-show="state.open">
            <div class="modal-inner" @click.away="toggle">
                <span class="modal-message">
                    Confirmez la suppression.
                </span>
                <div class="flex items-center justify-end">
                    <button class="btn" @click="toggle">Annuler</button>
                    <form :action="`/admin/missions/${state.item}/delete`" method="POST">
                        <button class="btn btn--danger">Supprimer</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="flex items-center justify-between mb-2">
            <h2>Les missions</h2>
            <a href="{{ url_for('admin.create_mission') }}" class="btn">Créer une mission</a>
        </div>
        {% if missions.total %}
            <div class="overflow-x">
                <div class="overflow-x">
                    <table class="table" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <th>Status</th>
                                <th>Titre</th>
                                <th>Pays</th>
                                <th>Début</th>
                                <th>Fin</th>
                                <th>Modifier</th>
                                <th>Supprimer</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for mission in missions.items %}
                                <tr>
                                    <td>
                                        {% if mission.status == 'preparation' %}
                                            <span class="badge badge--info">Préparation</span>
                                        {% elif mission.status == 'progress' %}
                                            <span class="badge badge--warning">En cours</span>
                                        {% elif mission.status == 'completed' %}
                                            <span class="badge badge--success">Terminée</span>
                                        {% elif mission.status == 'failed' %}
                                            <span class="badge badge--danger">Échec</span>
                                        {% endif %}
                                    </td>
                                    <td>{{ mission.title }}</td>
                                    <td>{{ mission.country.name }}</td>
                                    <td>{{ mission.starts_at }}</td>
                                    <td>{{ mission.ends_at }}</td>
                                    <td>
                                        <a href="{{ url_for('admin.update_mission', id=mission.id) }}" class="btn btn--warning">Modifier</a>
                                    </td>
                                    <td>
                                        <button class="btn btn--danger" data-item="{{ mission.id }}" @click="deleteItem($el)">Supprimer</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% if missions.pages > 1 %}
                <div class="pages">
                    {% for page in missions.iter_pages() %}
                        {% if page %}
                            {% if missions.page == page %}
                                <a href="{{ url_for('admin.missions', page=page) }}" class="pages-item active">{{ page }}</a>
                            {% else %}
                                <a href="{{ url_for('admin.missions', page=page) }}" class="pages-item">{{ page }}</a>
                            {% endif %}
                        {% else %}
                            ...
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% else %}
            <span class="placeholder">Aucune mission</span>
        {% endif %}
    </div>
{% endblock %}