{% extends "admin/base.html" %}

{% block title %}Administration - Les spécialités{% endblock %}

{% block admin %}
    <div x-data="modal">
        <div class="modal" x-cloak x-show="state.open">
            <div class="modal-inner" @click.away="toggle">
                <span class="modal-message">
                    Confirmez la suppression.
                </span>
                <div class="flex items-center justify-end">
                    <button class="btn" @click="toggle">Annuler</button>
                    <form :action="`/admin/specialities/${state.item}/delete`" method="POST">
                        <button class="btn btn--danger">Supprimer</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="flex items-center justify-between mb-2">
            <h2>Les spécialités</h2>
            <a href="{{ url_for('admin.create_speciality') }}" class="btn">Ajouter une spécialité</a>
        </div>
        {% if specialities.total %}
            <div class="overflow-x">
                <table class="table" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Modifier</th>
                            <th>Supprimer</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for speciality in specialities.items %}
                            <tr>
                                <td>{{ speciality.name }}</td>
                                <td>
                                    <a href="{{ url_for('admin.update_speciality', id=speciality.id) }}" class="btn btn--warning">Modifier</a>
                                </td>
                                <td>
                                    <button class="btn btn--danger" data-item="{{ speciality.id }}" @click="deleteItem($el)">Supprimer</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if specialities.pages > 1 %}
                <div class="pages">
                    {% for page in specialities.iter_pages() %}
                        {% if page %}
                            {% if specialities.page == page %}
                                <a href="{{ url_for('admin.specialities', page=page) }}" class="pages-item active">{{ page }}</a>
                            {% else %}
                                <a href="{{ url_for('admin.specialities', page=page) }}" class="pages-item">{{ page }}</a>
                            {% endif %}
                        {% else %}
                            ...
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% else %}
            <span class="placeholder">Aucune spécialité</span>
        {% endif %}
    </div>
{% endblock %}