{% extends "admin/base.html" %}

{% block title %}Administration - Les cibles{% endblock %}

{% block admin %}
    <div x-data="modal">
        <div class="modal" x-cloak x-show="state.open">
            <div class="modal-inner" @click.away="toggle">
                <span class="modal-message">
                    Confirmez la suppression.
                </span>
                <div class="flex items-center justify-end">
                    <button class="btn" @click="toggle">Annuler</button>
                    <form :action="`/admin/targets/${state.item}/delete`" method="POST">
                        <button class="btn btn--danger">Supprimer</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="flex items-center justify-between mb-2">
            <h2>Les cibles</h2>
            <a href="{{ url_for('admin.create_target') }}" class="btn">Ajouter une cible</a>
        </div>
        {% if targets.total %}
            <div class="overflow-x">
                <table class="table" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>Code</th>
                            <th>Nationalité</th>
                            <th>Modifier</th>
                            <th>Supprimer</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for target in targets.items %}
                            <tr>
                                <td>{{ target.firstname }}</td>
                                <td>{{ target.lastname }}</td>
                                <td>{{ target.code }}</td>
                                <td>{{ target.country.nationality }}</td>
                                <td>
                                    <a href="{{ url_for('admin.update_target', id=target.id) }}" class="btn btn--warning">Modifier</a>
                                </td>
                                <td>
                                    <button class="btn btn--danger" data-item="{{ target.id }}" @click="deleteItem($el)">Supprimer</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if targets.pages > 1 %}
                <div class="pages">
                    {% for page in targets.iter_pages() %}
                        {% if page %}
                            {% if targets.page == page %}
                                <a href="{{ url_for('admin.targets', page=page) }}" class="pages-item active">{{ page }}</a>
                            {% else %}
                                <a href="{{ url_for('admin.targets', page=page) }}" class="pages-item">{{ page }}</a>
                            {% endif %}
                        {% else %}
                            ...
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% else %}
            <span class="placeholder">Aucune cible</span>
        {% endif %}
    </div>
{% endblock %}