{% extends "admin/base.html" %}

{% block title %}Administration - Les types de mission{% endblock %}

{% block admin %}
    <div x-data="modal">
        <div class="modal" x-cloak x-show="state.open">
            <div class="modal-inner" @click.away="toggle">
                <span class="modal-message">
                    Confirmez la suppression.
                </span>
                <div class="flex items-center justify-end">
                    <button class="btn" @click="toggle">Annuler</button>
                    <form :action="`/admin/types/${state.item}/delete`" method="POST">
                        <button class="btn btn--danger">Supprimer</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="flex items-center justify-between mb-2">
            <h2>Les types de mission</h2>
            <a href="{{ url_for('admin.create_type') }}" class="btn">Ajouter un type</a>
        </div>
        {% if types %}
            <div class="overflow-x">
                <table class="table" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Modifier</th>
                            <th>Supprimer</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for type in types %}
                            <tr>
                                <td>{{ type.name }}</td>
                                <td>
                                    <a href="{{ url_for('admin.update_type', id=type.id) }}" class="btn btn--warning">Modifier</a>
                                </td>
                                <td>
                                    <button class="btn btn--danger" data-item="{{ type.id }}" @click="deleteItem($el)">Supprimer</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <span class="placeholder">Aucun type</span>
        {% endif %}
    </div>
{% endblock %}